.item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.item:hover,
.item:focus {
  background-color: antiquewhite;
}

.item.item:hover svg {
  color: tomato;
}

.item svg {
  margin-right: 10px;
}
